<div layout="row" >
    <div flex="5"  >
        <md-button ui-sref="kiosk.medical_record" aria-label="Forms" type="button" class="md-fab md-mini md-button md-ink-ripple md-raised" md-colors="{background : 'red'}">
            <ng-md-icon icon="folder_shared" style="color : white"></ng-md-icon> 
            <md-tooltip md-direction="right">
                Medical Records
            </md-tooltip>
        </md-button>
        <md-button ui-sref="kiosk.inhabitant" aria-label="People" type="button" class="md-fab md-mini md-button md-ink-ripple md-raised" md-colors="{background : 'teal'}">
            <ng-md-icon icon="people" style="color : white"></ng-md-icon>
            <md-tooltip md-direction="right">
                Inhabitants
            </md-tooltip> 
        </md-button>
        <md-button aria-label="Statistics" type="button" class="md-fab md-mini md-button md-ink-ripple md-raised" md-colors="{background : 'blue'}">
            <ng-md-icon icon="show_chart" style="color : white"></ng-md-icon> 
            <md-tooltip md-direction="right">
                Statistics
            </md-tooltip> 
        </md-button>
    </div>
    <div flex md-whiteframe="1">
        <div ui-view="kiosk"></div>
    </div>
</div>