<div flex>
    <md-toolbar class="md-primary" md-whiteframe="1"> 
        <div class="md-toolbar-tools" md-colors="{background : 'teal-600'}">
            <h3>{{ panelTitle }}</h3>
            <span flex></span>
            <!--<md-button aria-label="save" class="md-mini  ">
                <ng-md-icon icon="save"></ng-md-icon>
                save
            </md-button>
            <md-button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="inhabitantController.toggleRight('right')">
              <ng-md-icon icon="menu"></ng-md-icon>
              <md-tooltip md-direction="left">
                Tools
              </md-tooltip> 
          </md-button>-->
        </div>
    </md-toolbar>

    <!--User Panel Directive-->
        <user-panel present-kiosk="medical_record"></user-panel>
    <!--End User Panel Directive-->

    <div>
        <div ui-view="medical_record">
            <md-button ng-click="medicalRecordController.navigateToMedicalRecord('kiosk.medical_record.ncdraf')" class="md-cornered md-button md-ink-ripple md-raised" type="button" md-colors="{ background : 'blue-700'}">
                Non-Communicable Disease Risk Assessment Form
            </md-button>
            <md-button ng-click="medicalRecordController.navigateToMedicalRecord('kiosk.medical_record.stop_smoking_program')" class="md-cornered md-button md-ink-ripple md-raised" type="button" md-colors="{ background : 'blue-700'}">
                Stop Smoking Program
            </md-button>
        </div>
    </div>

</div>

<!--Right Slider-->
<section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content  layout-padding>
                <form>
                <md-input-container>
                    <label >Search Inhabitant</label>
                    <input type="text" md-autofocus>
                </md-input-container>
                </form>
                <md-button ng-click="inhabitantController.toggleRight('right')" class="md-primary">
                Close
                </md-button>
            </md-content>
            </md-sidenav>
    </section>