<div flex>
    <md-toolbar class="md-primary" md-whiteframe="1"> 
        <div class="md-toolbar-tools" md-colors="{background : 'teal-600'}">
            <h3>{{ panelTitle }}</h3>
            <span flex></span>
            <!--<md-button aria-label="save" class="md-mini|md-fab">
                <ng-md-icon icon="save"></ng-md-icon>
                save
            </md-button>
            <md-button class="md-icon-button md-button md-ink-ripple" type="button" ng-click="inhabitantController.toggleRight('right')">
              <ng-md-icon icon="menu"></ng-md-icon>
              <md-tooltip md-direction="left">
                Tools
              </md-tooltip> 
            </md-button>-->
          
        </div>
    </md-toolbar>

    <!--User Panel Directive-->
        <user-panel present-kiosk="inhabitant"></user-panel>
    <!--End User Panel Directive-->

    <div>
        <div ui-view="inhabitant">
            <md-grid-list 
                md-cols-xs="1" md-cols-sm="1" md-cols-md="1" md-cols-gt-md="6"
                md-row-height-gt-md="9:5" md-row-height="4:4"
                md-gutter="12px" md-gutter-gt-sm="8px" class="kiosk-lists">
                <md-grid-tile md-colors="{background : 'red-A200'}"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" 
                    ng-click="inhabitantController.navigateAsNewInhabitant('kiosk.inhabitant.register')">
                <ng-md-icon icon="person" size="100" style="fill:white"></ng-md-icon>
                <md-grid-tile-footer>
                    <h3>Register Inhabitant</h3>
                </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile md-colors="{background : 'blue-A200'}"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                    ng-click="inhabitantController.navigateTo('kiosk.inhabitant.list')">
                <ng-md-icon icon="search" size="100" style="fill:white"></ng-md-icon>
                <md-grid-tile-footer>
                    <h3>Search Inhabitant</h3>
                </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile md-colors="{background : 'red-A200'}"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                    ng-click="inhabitantController.showSearchInhabitant('kiosk.inhabitant.register')">
                <ng-md-icon icon="edit" size="100" style="fill:white"></ng-md-icon>
                <md-grid-tile-footer>
                    <h3>Update Inhabitant</h3>
                </md-grid-tile-footer>
                </md-grid-tile>

                <md-grid-tile md-colors="{background : 'light-blue-A200'}"
                    md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
                    ng-click="inhabitantController.navigateTo('kiosk.inhabitant.list')">
                <ng-md-icon icon="list" size="100" style="fill:white"></ng-md-icon>
                <md-grid-tile-footer>
                    <h3>List of Inhabitants</h3>
                </md-grid-tile-footer>
                </md-grid-tile>
            </md-grid-list>
        </div>
    </div>

</div>

<!--Right Slider-->
<section layout="row" flex>
        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content  layout-padding>
                <form>
                <md-input-container>
                    <label >Search Inhabitant</label>
                    <input type="text" md-autofocus>
                </md-input-container>
                </form>
                <md-button ng-click="inhabitantController.toggleRight('right')" class="md-primary">
                Close
                </md-button>
            </md-content>
            </md-sidenav>
    </section>