<div layout="column">
    <md-list-item ng-click="medicalRecordCtrl.navigateToMedicalForms(medical_record)" ng-repeat="medical_record in medicalRecordCtrl.medical_records">
        <p><b>Medical Record Since:</b> {{medical_record.createdAt | date:'fullDate'}}</p>
        <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
        <md-button aria-label="button-label" class="md-mini" ng-click="medicalRecordCtrl.navigateToMedicalForms(medical_record)">
            <ng-md-icon icon="edit" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Edit Record
            </md-tooltip>
        </md-button> 
        <md-button aria-label="button-label" class="md-mini" 
            delete-confirm-dialog 
            delete-title="Would you like to delete Medical Record dated {{medical_record.createdAt | date:'fullDate'}}?"
            delete-content="Deleted Inhabintant will be permanently removed including all medical records."
            confirmed="medicalRecordCtrl.deleteMedicalRecord(medical_record)" >
            <ng-md-icon icon="delete" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Delete
            </md-tooltip>
        </md-button>
    </md-list-item>
</div>