<md-toolbar md-colors="{ background : 'blue-900' }" class="md-whiteframe-3dp" ng-hide="ctrl.upanelData.isHidden"> 
    <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="person" ui-sref="kiosk.inhabitant.register">
        <ng-md-icon icon="person"></ng-md-icon>
    </md-button>
    <h2>
        <span>{{ ctrl.upanelData.inhabitant.full_name }}</span>
    </h2>
    <span flex></span>

    <!--Inhabitant Toolbars-->
        
    <!--End Inhabitant Toolbars-->

    <!--Medical Record Toolbars-->
    <div ng-show="presentKiosk == 'medical_record'">
        <!-- With Existing Medical Record Selected -->
        <span class="md-subhead" ng-if="ctrl.upanelData.inhabitant.medical_records && !ctrl.upanelData.inhabitant.medical_record_id"><b>Medical Record No:</b> {{ ctrl.upanelData.inhabitant.medical_records }}</span>
        <span class="md-subhead" ng-if="ctrl.upanelData.inhabitant.medical_record_id"><b>Medical Record No:</b> {{ ctrl.upanelData.inhabitant.medical_record_id }}</span>
        <!-- With New Medical Record -->
        <span class="md-subhead" ng-if="!ctrl.upanelData.inhabitant.medical_records && !ctrl.upanelData.inhabitant.medical_record_id" md-colors="{ color : 'red-400' }">
            <ng-md-icon icon="warning"></ng-md-icon>
            Please Select Form to Add New Medical Record
        </span>
        <md-button class="md-icon-button" aria-label="add" ng-click="ctrl.addMedicalRecord()">
            <ng-md-icon icon="add"></ng-md-icon>
            <md-tooltip md-direction="bottom">
                Add Medical Record
            </md-tooltip>
        </md-button>
    </div>
    <!--End Medical Record Toolbars-->

    <md-button class="md-icon-button" aria-label="More" ui-sref="kiosk.medical_record.inhabitant({ inhabitant_id : ctrl.upanelData.inhabitant.inhabitant_id })">
        <ng-md-icon icon="folder_shared"></ng-md-icon>
        <md-tooltip md-direction="bottom">
          Show Medical Records
        </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="Close" ng-click="ctrl.close()">
        <ng-md-icon icon="close"></ng-md-icon>
        <md-tooltip md-direction="bottom">
          Reset Inhabitant
        </md-tooltip>
    </md-button>
    </div>
</md-toolbar>