<div layout="column">
    <md-list-item ng-click="inhabitantList.navigateToProfile(inhabitant)" ng-repeat="inhabitant in inhabitantList.inhabitants">
        <p>{{inhabitant.last_name}}, {{ inhabitant.first_name }} {{ inhabitant.middle_name }}</p>
        <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
        <md-button aria-label="button-label" class="md-mini" ng-click="inhabitantList.navigateToProfile(inhabitant)">
            <ng-md-icon icon="edit" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Edit / Show Profile 
            </md-tooltip>
        </md-button> 
        <md-button aria-label="button-label" class="md-mini">
            <ng-md-icon icon="folder_shared" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Show Medical Records 
            </md-tooltip>
        </md-button>
    </md-list-item>
</div>