<div layout="column">
    <md-input-container class="md-block inhabitant-list-searchbox">
    <label>Enter Full / First / Last Name</label>
    <input ng-model="searchByName" type="text">
    </md-input-container>
    <md-list-item ng-click="inhabitantList.navigateToProfile(inhabitant)" ng-repeat="inhabitant in inhabitantList.inhabitants | filter:searchByName">
        <p>{{inhabitant.last_name}}, {{ inhabitant.first_name }} {{ inhabitant.middle_name }}</p>
        <!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
        <md-button aria-label="button-label" class="md-mini" ng-click="inhabitantList.navigateToProfile(inhabitant)">
            <ng-md-icon icon="edit" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Edit / Show Profile 
            </md-tooltip>
        </md-button> 
        <md-button aria-label="button-label" class="md-mini" ng-click="inhabitantList.navigateToMedicalRecords(inhabitant)">
            <ng-md-icon icon="folder_shared" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Show Medical Records 
            </md-tooltip>
        </md-button>
        <md-button aria-label="button-label" class="md-mini" 
            delete-confirm-dialog 
            delete-title="Would you like to delete Inhabitant named {{inhabitant.full_name}} ?"
            delete-content="Deleted Inhabintant will be permanently removed including all medical records."
            confirmed="inhabitantList.deleteInhabitant(inhabitant)" >
            <ng-md-icon icon="delete" style="color : black"></ng-md-icon>
            <md-tooltip md-direction="bottom">
               Delete
            </md-tooltip>
        </md-button>
    </md-list-item>
</div>